{% load extras %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Proove Bioscience Labels (Avery 5167) : {{barcodes.0.desc}}</title>
    <style>
    body {
        width: 8.5in;
        margin: 0in;
        }
    @page 
    {
        size: auto;   /* auto is the current printer page size */
        /* margin: 0.5in 0.33in;  /* this affects the margin in the printer settings */
    }
    @media all {
        .page-break { display: none; }
    }

    @media print {
        .page-break { display: block; page-break-after: always; }
    }

    div.page {
        margin: 0.5in 0in 0in .3in;
    }

    div.row div.label:nth-child(4) {
        margin-right: 0;
    }

    .label {
        /* Avery 5167 labels */
        width: 1.75in;
        height:0.5in;
        /* padding:7px 0 0 0; */
        margin-right: .3in; /* the gutter */

        float: left;

        text-align: center;
        overflow: hidden;

        outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
    .image { margin:0;padding:0; width: 1.5in}
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
    </style>

</head>
<body>

{% for bar in barcodes  %}

    {% if forloop.counter0|divisibleby:20 %}
    <div class="page">
    {% endif %}

    <div class="row">
    {% for i in bar.copies|make_range %}
    <div class="label">
        <img class="barcode" src="/barcoder/svg/{{bar}}" />
    </div>
    {% endfor %}
    </div>

    {% if forloop.counter|divisibleby:20 %}
    <div class="page-break"></div>
    </div>
    {% endif %}

{% endfor %}

</body>
</html>