<h1>Proove Barcode Generator</h1>

{% for track in tracker %}
    <h3>Qty: <input id="{{ track.type }}_quantity" value="20" /> 
        <a target="_blank" href="#" onClick="this.href = '/barcoder/avery_5167/{{ track.type }}/' + document.getElementById('{{ track.type }}_quantity').value"><button>{{ track.desc }} ({{ track.type }}) Labels</button></a>
    </h3>
{% endfor %}